body{
  text-align: center;
  background-image:url('https://miro.medium.com/v2/resize:fit:640/format:webp/1*m5HORF0koybAypPeBRbMjQ.jpeg') ;
}
img{
  height: 500px;
  
}
h1
{
  font-family: sans-serif;
}
